body{
    margin:0;
    background: lightgray;
    text-align: center;
}

.header{
    padding: 10px;
    background: rgb(124, 27, 27);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: right;
}

a {
    color: white;
    text-decoration: none;
}