body{
    margin:0;
    background: rgb(238, 238, 238);
    text-align: center;
}

.header{
    padding: 1px 10px;
    background: rgb(131,68,62);
    color: rgb(235, 234, 236);
    font-family: Verdana, Geneva, Tahoma, sans-serif, Lexend;
    font-size: 22px;
    position: sticky;
    z-index: 1;
    
}

a {
    font-family: 'Lexend';
    color: inherit;
}

a:hover{
    color: #7d7d7d;
}

@font-face {
    font-family: Lexend;
    src: url(Lexend-VariableFont_wght.ttf);
    
}

.icon {
    height: 50px;
    width: 50px;
    background-color: rgb(179, 151, 149);
    border-radius: 50%;
}

label {
    display: inline-block;
    font-family: 'Lexend';
    margin-bottom: 10px;
    position: relative;
}

input[type='text'], input[type='password'] {
    font-family: 'Lexend';
    padding: 10px;
    margin: 8px 0;
    position:relative;
    display: inline-block;
}

input[type='submit'] {
    font-family: 'Lexend';
    padding: 10px;
    margin: 8px 0;
    position: relative;
}

label {
    margin-top: 1rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top:50%;
  }

img {
    max-width: 100%;
}

.image {
    flex-basis: 35%;
}

.text {
    font-size:20px;
    color:#434343;
    font-family: Lexend;
}

.scrollmenu {
    overflow: auto;
    white-space: nowrap;  
    background-color: #fbf9f9;
    padding:5px;
    position: relative;
}

.scrollmenu a {
    display:inline-block;
    text-align: center;
    padding:20px;
    text-decoration:none;
    font-family: Lexend;
    font-size: 10px;
    
}

.scrollmenu img{
    object-fit: contain;
    width:100px;
    height: 100px;
    max-height:15%;
}

.scrollmenu a:hover {
    background-color: #d4cccc;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: left;
}

.sidenav a {
    padding: 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    color:rgb(174, 176, 167);
}

.sidenav a:hover {
    color: #6a6a6a;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}